body {
    font: 12px sans-serif;
    text-align: center;
    margin: 20 20 0 20;
  }
  button {
    border-radius: 5px;
    background: white;
    color: black;
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    font-size:12px
  }
  #search {
    box-shadow: none;
    background: #18A0FB;
    color: white;
  }
  input {
    border: none;
    outline: none;
    padding: 8px;
  }
  input:hover { 
    /* box-shadow: inset 0 0 0 1px ;  */
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border:none;
  }
  /* button:focus { box-shadow: inset 0 0 0 2px #18A0FB; } */
  #search:focus { box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3); }
  input:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
  ::-webkit-input-placeholder { color:#ccc; }
  button:hover{
    transform: translateY(-2px);
  }
  button:active{
    transform: translateY(2px);
  }

  .heightLight{
    color:#479FF4;
  }

  .inputBox{
    text-align: left;
    margin-top: 14px;

  }
  .inputBox p{
    margin-bottom: 2px;
    font-size: 12px;
    color: #999;
  }
  .inputBox div{
    /* width:100% */
  }
  .inputBox input{
    width: 64%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: inset 0px -1px rgb(0 0 0 / 10%);  */
    font-size: 12px;
    border-radius: 2px;
  }
  .inputBox button{
    height: 30px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    width: 32%;
    cursor:pointer;
    float: right;
    margin-right: 0;
  }
  #topBox{
    /* height:30% */
  }
  .find_result_list{
    height: 72%;
    overflow-y: auto;
    margin-top: 8px;

  }
  .find_result_list_info{
    height: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0 0 0 / 80%);;
    font-size: 12px;
  }
  .find_result_list li{
    height: 28px;
    /* padding: 6px; */
    line-height: 24px;
    /* border: 1px solid red; */
    margin-bottom: 2px;
    font-size: 12px;
    color: #333;
    list-style:none;
    text-align: left;
    padding: 2px;
    box-sizing:border-box;
    text-overflow: ellipsis;
    overflow-x: clip;
    overflow: hidden;
  }
  .find_result_list li:hover{
    border:1px solid rgba(0, 0, 0, 0.1);
    box-sizing:border-box;
    border-radius:2px;
    cursor:pointer;
  }
  .buttonDisable{
    pointer-events:none;
    opacity: 0.3;
  }