body {
  font: 12px sans-serif;
  text-align: center;
  margin: 20 20 0 20;
}
button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
  font-size: 12px;
}
#search {
  box-shadow: none;
  background: #18a0fb;
  color: white;
}
input {
  border: none;
  outline: none;
  padding: 8px;
}

/* button:focus { box-shadow: inset 0 0 0 2px #18A0FB; } */
#search:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder {
  color: #ccc;
}
button:hover {
  transform: translateY(-2px);
}
button:active {
  transform: translateY(2px);
}

.heightLight {
  color: #479ff4;
}

.inputBox {
  text-align: left;
  margin-top: 18px;
}
.inputBox p {
  margin-bottom: 2px;
  font-size: 12px;
  color: #999;
}
.inputBox div {
  /* width:100% */
}
.inputBox input {
  width: 64%;
  box-shadow: inset 0px -1px rgb(0 0 0 / 10%);
  /* box-sizing: border-box; */
  /* box-shadow: inset 0px -1px rgb(0 0 0 / 10%);  */
  font-size: 12px;
  border-radius: 2px;
}
input:hover {
  /* box-shadow: inset 0 0 0 1px ;  */
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  /* border:none; */
}
input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
.inputBox button {
  height: 30px;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
  width: 32%;
  cursor: pointer;
  float: right;
  margin-right: 0;
}
#topBox {
  /* height:30% */
}
.find_result_list {
  overflow-y: auto;
  margin-top: 8px;
}

.find_result_list,
.modal {
  height: 72%;
}

.find_result_list_info {
  height: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(40, 40, 40, 1);
  font-size: 12px;
}

.find_result_list_info .main_info {
  margin-bottom: 6px;
}

.minor_info {
  color: rgba(40, 40, 40, 0.6);
}
.find_result_list li {
  height: auto;
  /* padding: 6px; */
  line-height: 18px;
  /* border: 1px solid red; */
  margin-bottom: 4px;
  font-size: 12px;
  color: rgba(40, 40, 40, 1);
  list-style: none;
  text-align: left;
  padding: 4px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow-x: clip;
  overflow: hidden;
}

.find_result_list .clicked {
  color: rgba(40, 40, 40, 0.5);
}
.find_result_list .clicked > span {
  opacity: 0.5;
}

.find_result_list li:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}
.missIcon,
.typeIcon {
  padding: 0px 2px 0px 2px;
  border-radius: 4px;
  font-size: 11px;
  margin-left: 4px;
  cursor: help;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
}
.missIcon {
  background: yellow;
  color: rgb(0, 0, 0, 0.8);
}
.typeIcon {
  background: #7d44fa;
  color: rgb(255, 255, 255, 0.8);
}
.buttonDisable {
  pointer-events: none;
  opacity: 0.3;
}

.modal {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.modal div {
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.list_disable {
  opacity: 0.3;
  pointer-events: none;
}

/* 进度条 */
.g-container {
  width: 200px;
  height: 14px;
  border-radius: 25px;
  background: linear-gradient(110deg, #0f0, #0f0 var(--progress), transparent 0);
  border: 1px solid;
}
/* .g-progress {
  width: 50%;
  height: inherit;
  border-radius: 25px 0 0 25px;
  background: #0f0;
} */
